<section class = "post-card">
    <a href="/api/posts/user/{{user_id}}">
    <div class = "post-content">
    {{post.content}}
    </div>
    <div class = "post-date">
    {{post.date}}
    </div>
    </a>
</section>