<section class = "post-card">
    {{!-- <a href="/api/posts/user/{{}}"> --}}
    <div class = "post-content">
    {{post.name}}
    </div>
    <div class = "post-date">
    {{post.email}}
    </div>
    </a>
</section>