<section class = "card">
    <a href="/profile/user/{{id}}">
    <header>{{ title }}</header>
    
    </a>

    <a href="/api/characters/user/{{user_id}}">
    </a>

    <a href="/api/campaign/user/{{user_id}}">
    </a>
    
</section>