<section class = "card">
    <a href="/api/users/{{id}}">
    <header>{{<title}}</header>
    
    </a>

    <a href="/api/characters/user/{{id}}">
    </a>

    <a href="/api/campaign/user/{{id}}">
    </a>
    
</section>