<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> The Beholder</title>
    <link rel="stylesheet" href="../../public/css/style.css">

</head>

<body>
    <header>
        Dungeons & Dragons Player Utility
    </header>
    <nav>
        <a href="/homepage">Home</a>
        {{#if loggedIn}}
        <button id="logout" class="btn-style">logout</button>
        {{else}}
        <a href="/api/login">Signup</a>
        {{/if}}
        <a href="/profile/user/{{}}">Profile</a>
    </nav>

    <main>
        <aside>
            <h2>The Beholder Blog</h2>
        <div class="blog">
            {{{ body }}}
        </div>
        </aside>
    </main>
    <footer>
        Created by Max, Teamir, Owen, and Dylan
    </footer>
    {{#if loggedIn}}
    <script src="../../public/js/logout.js"></script>
    {{/if}}
</body>


</html>