<section class="container">
  <h3 class="character-name">{{character.name}}</h3>

  {{#if loggedIn}}
  <section class="flex-row justify-center">
    {{#each character.name as |character|}}
    {{> character-details}}
    {{/each}}
  </section>
</section>
{{else}}
<a href="/api/login">You must login first to view this page</a>
{{/if}}