
<div class="row mt-4">
    <div class="col-md-6">
        
        <form class="new-post-form">
            <div class="form-group">
                <label for="post-field">Posts:</label>
            {{#if loggedIn}}
                <textarea class="form-input" type="text" id="post-field" name="post-field"></textarea>
                
            </div>
            <div class="form-group">
                <button type="submit" class="new-post">Post</button>
            </div>
            {{/if}}    
        </form>  
    </div>
</div>    
{{#each posts as |post|}}
<div class="col-md-6 post-list">
    <p>{{post.content}} {{post.user.name}} {{post.date}}</p>
</div> 
{{/each}}
<script src="/js/posts.js"></script>