
<div class="row mt-4">
    <div class="col-md-6">
        
        <form class="new-post-form">
            <div class="form-group">
                <label for="post-field">Posts:</label>
                <textarea class="form-input" type="text" id="post-field" name="post-field"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="new-post">Post</button>
            </div>    
        </form>  
    </div>
</div>    

<div class="col-md-6 campaign-list">
    {{#each posts as |post|}}
        <h4>{{post.content}}</h4>
    {{/each}}
</div> 

<script src="/js/posts.js"></script>