{{#if loggedIn}}
<section class="flex-row justify-center"></section>
{{#each campaign.name as |campaign|}}
{{> campaign-details}}
{{/each}}

{{#each character.name as |character|}}
{{> character-details}}
{{/each}}
</section>
{{else}}
<a href="../public/js/login.js">You must login first to view this page</a>
{{/if}}