{{#if loggedIn}}
<section class="flex-row justify-center"></section>
{{#each user.campaigns as |campaign|}}
{{!-- {{> campaign-details}} --}}
{{/each}}

{{#each user.characters as |character|}}
{{!-- {{> character-details}} --}}
<p>{{character.name}}</p>
{{/each}}
</section>
{{else}}
<a href="../public/js/login.js">You must login first to view this page</a>
{{/if}}